<a href="https://colab.research.google.com/github/Cullen-hub/DataScience_Python_Course/blob/main/Econ_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("akshatsharma2/global-jobs-gdp-and-unemployment-data-19912022")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/akshatsharma2/global-jobs-gdp-and-unemployment-data-19912022?dataset_version_number=1...

100%|██████████| 228k/228k [00:00<00:00, 52.6MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/akshatsharma2/global-jobs-gdp-and-unemployment-data-19912022/versions/1

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv(path + '/Employment_Unemployment_GDP_data.csv')

Data Cleaning Checks

In [ ]:
df.head()

,Country Name,Year,Employment Sector: Agriculture,Employment Sector: Industry,Employment Sector: Services,Unemployment Rate,GDP (in USD)
0,Albania,1991,53.299533,12.172764,34.527781,10.304,1.099559e+09
1,Algeria,1991,24.118566,25.067734,50.813700,20.600,4.571568e+10
2,Angola,1991,40.071857,8.163345,51.764822,16.855,1.060378e+10
3,Argentina,1991,13.669999,28.505903,57.824098,5.440,1.897200e+11
4,Armenia,1991,54.263252,15.790454,29.946294,1.783,2.069870e+09

In [ ]:
df.describe()

,Year,Employment Sector: Agriculture,Employment Sector: Industry,Employment Sector: Services,Unemployment Rate,GDP (in USD)
count,5751.000000,5751.000000,5751.000000,5751.000000,5751.000000,5.751000e+03
mean,2006.568945,28.857051,19.773784,51.369166,8.155004,3.099333e+11
std,9.175548,24.026669,8.606954,18.892155,6.147428,1.375556e+12
min,1991.000000,0.107774,2.060372,5.314014,0.100000,7.228540e+07
25%,1999.000000,7.173214,13.889285,36.846735,3.659000,5.098458e+09
50%,2007.000000,22.172104,20.105516,52.657618,6.358000,1.972356e+10
75%,2014.000000,46.130703,25.345213,66.602313,10.996000,1.277237e+11
max,2022.000000,92.482036,59.579079,93.416932,38.800000,2.600689e+13

In [ ]:
df.isnull().sum()

Country Name                      0
Year                              0
Employment Sector: Agriculture    0
Employment Sector: Industry       0
Employment Sector: Services       0
Unemployment Rate                 0
GDP (in USD)                      0
dtype: int64

In [ ]:
df.apply(lambda x: x.dtype)

Country Name                       object
Year                                int64
Employment Sector: Agriculture    float64
Employment Sector: Industry       float64
Employment Sector: Services       float64
Unemployment Rate                 float64
GDP (in USD)                      float64
dtype: object

In [ ]:
df2 = df['Country Name'].apply(lambda x: type(x)).groupby(df['Country Name'].apply(lambda x: type(x))).groups
print(df2)
len(df2[str])

{<class 'str'>: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]}

5751

In [ ]:
df3 = df.apply(lambda x: x.unique())

In [ ]:
!pip install fuzzywuzzy
from fuzzywuzzy import fuzz

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata (4.9 kB)
Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

/usr/local/lib/python3.12/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
df3['Country Name']

array(['Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.',
       'El Salvador', 'Equatorial Guinea', 'Eswatini', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Korea, Rep.', 'Kuwait', 'Kyrgyz Republic',
       'Lao PDR', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova',
       'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Sierra Leone', 'Singapore',
       'Slovak Republic', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'Spain', 'Sri Lanka', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkiye', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Viet Nam',
       'Yemen, Rep.', 'Zambia', 'Zimbabwe', 'Eritrea', 'Estonia',
       'West Bank and Gaza', 'Latvia', 'Lithuania', 'Serbia',
       'Montenegro', 'Afghanistan', 'Guam', 'Virgin Islands (U.S.)',
       'South Sudan'], dtype=object)